<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<h2>Enter input data:</h2>
<div style="margin: 0 auto; text-align: right; width: 300px">
  <dl>
    <dt><label>Twitter handle: @<input #handle (keyup)=0></label></dt>
    <dt><label>Speaker name: <input #speaker (keyup)=0></label></dt>
    <dt><textarea #quote (keyup)=0 placeholder="Type the quote here"></textarea></dt>
    <dt><textarea #summary (keyup)=0 placeholder="Type short summary (optional)"></textarea></dt>
    <dt>Event hashtag: <label>#<input #hashtag (keyup)=0></label></dt>
  </dl>
</div>
<h2>Here is your tweet:</h2>
<p style="margin: 0 auto; text-align: right; width: 300px" *ngIf="handle.value.length > 0 && quote.value.length > 0 && hashtag.value.length > 0">
  .@{{ handle.value }}<span *ngIf="speaker.value.length > 0"> ({{ speaker.value }})</span>: "{{ quote.value }}"<span *ngIf="summary.value.length > 0"> {{ summary.value }}</span> #{{ hashtag.value }}
</p>
